
.loader-wrap {

  display: inline-block;
  padding-left: 2em;

  &, &.small, &.small .loader {
    font-size: 2px;
  }

  &.medium, &.medium .loader {
    font-size: 7px;
  }

  &.large, &.large .loader {
    font-size: 11px;
  }

}

// !Animation
////////////////////////////////////////////////////////////////////
.loader {

  &,
  &:before,
  &:after {
    background: #ffffff;
    -webkit-animation: kfHElastic 1s infinite ease-in-out;
    animation: kfHElastic 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    vertical-align: middle;
    display: inline-block;
  }

  & {
    color: #ffffff;
    text-indent: -9999em;
    margin: 4em auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  &.small {
    font-size: 2px;
  }

  &.medium {
    font-size: 7px;
  }

  &.large {
    font-size: 11px;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: '';
  }

  &:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &:after {
    left: 1.5em;
  }

  & ~ .loader-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
  }

}
